/* Author: Gabriel Danaila
version: 1.0.0
Copyright: 2023 */

/* ===================================

0. Root variables and minim reset
1. Header 
2. Hamburger menu 
3. Carousel typografy
4. Carousel layout
5. Animation
6. @media query
 
======================================== */


/** == == == == ==     0. Root variables and minim reset    == == == == == **/

@font-face {
    font-family: "Toyota-Light";
    src: url(../fonts/Toyota/ToyotaType-Light.ttf) format("truetype");
}



:root {
    --ff-primary: "Roboto";
    --ff-secondary: "DM Serif Display";

    --fw-light: 300;
    --fw-regular: 400;
    --fw-bold: 700;

    --fs-12: .75rem;
    --fs-16: 1rem;
    --fs-18: 1.125rem;
    --fs-20: 1.25rem;
    --fs-24: 1.5rem;
    --fs-32: 2rem;
    --fs-48: 3rem;
    --fs-64: 4rem;

    --clr-text-primary: #000000;
    --clr-text-secondary: #ffffff;
    --clr-background-main: #f5f4f0;
    --clr-background-btn: #454545;
    --clr-borders: #686868;

}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    font-family: "Toyota-Light", "Roboto", sans-serif;
    line-height: 1.5;
    -webkit-text-size-adjust: none;
    background-color: var(--clr-background-main);
    overflow: hidden;

}



img,
object,
picture,
video,
canvas,
svg,
embed {
    height: auto;
    max-width: 100%;
    display: block;
}

a,
a:visited,
a:active {
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
    color: inherit;

}

ul,
li {
    list-style: none;
}


input,
button,
textarea,
select {
    font: inherit;
}

/** == == == == ==     1. Header   == == == == == **/

.header {
    background-color: var(--clr-background-main);

    padding: 2.5em 4em;
    z-index: 10;
}

.navbar-logo {
    font-family: var(--ff-secondary);
    font-weight: var(--fw-regular);
    font-size: var(--fs-32);
    color: var(--clr-text-primary);
    line-height: normal;
    font-style: normal;
    z-index: 11;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar-list {
    display: flex;
    align-items: center;
}

.navbar-list li {
    padding-right: 2.5em;
}

.navbar-list li:last-child {
    padding-right: 0;
}

.navbar-list a {
    font-weight: var(--fw-regular);
    line-height: 2rem;
    padding: .75em 2.5em 0.75em 0;
    border-right: 1px solid var(--clr-borders);
}

.navbar-list li:last-child a {
    padding-right: 0;
    border: none;
}

/** == == == == ==     2. Hamburger menu   == == == == == **/
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 32px;
    height: 32px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
    position: absolute;
    top: 30px;
    right: 16px;

}

.hamburger span {
    width: 32px;
    height: 1px;
    background: var(--clr-text-primary);
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: center;
}

.navbar-list.open {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    background: var(--clr-background-main);
    z-index: 10;
    /* animation: fadeOut 0.5s forwards; */
}

.navbar-list.open li {
    padding-right: 0;
}

.navbar-list.open a {
    font-size: var(--fs-24);
    font-weight: var(--fw-light);
    border: none;
    padding: 0;
}

.hamburger.open span:nth-child(1) {
    transform: translateY(0.6rem) rotate(45deg);
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
}

.hamburger.open span:nth-child(3) {
    transform: translateY(-0.7rem) rotate(-45deg);
}

/** == == == == ==     3. Carousel Typogray  == == == == == **/

.content-title {
    font-size: 34px;
    line-height: 40px;
    color: #282830;
    padding-bottom: 16px;
}

.content-text {
    line-height: 24px;
    color: #6C7073;
    padding-bottom: 32px;
}

.content-button {
    padding: .75rem 1.5rem;
    background-color: #282830;
    color: #ffffff;
    line-height: 24px;
    border: none;
}

/** == == == == ==     4. Carousel Layout  == == == == == **/


.carousel {
    display: flex;
    justify-content: space-between;
    gap: 64px;
}


.container-left {
    max-width: 780px;
}

.container-middle {
    align-self: center;
    max-width: 432px;
}

.container-right {
    align-self: flex-end;
    max-width: 150px;
}

.container-left img {
    object-fit: cover;
    height: 600px;
}

.container-right img {
    object-fit: cover;
    height: 400px;
}

.container-left,
.container-middle,
.container-right {
    overflow: hidden;
}


.container-middle * {
    cursor: default;
}

.slides li {
    list-style-type: none;
    min-width: 100%;
    transition: transform 0.3s ease-in-out;
    display: none;
}


#prevBtn {
    display: none;
    /* position: absolute;
    top: 50%;
    right: 0;
    z-index: 1; */
}


#nextBtn {
    display: none;
    /* position: absolute;
    top: 50%;
    right: 0;
    z-index: 1; */
}


/** == == == == ==     5. Animation == == == == == **/
.header {
    transition: transform 0.3s;
}

.slide-left {
    animation: slideLeft ease 1s;
}

@keyframes slideLeft {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


.slide-right {
    animation: slideRight ease 1s;
}

@keyframes slideRight {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}



/** == == == == ==     6. @ media query    == == == == == **/

@media only screen and (max-width:45em) {

    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: 1.5em 1em;
    }

    .hamburger {
        display: flex;
    }

    .navbar-list {
        display: none;
    }

    .carousel {
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

    .container-left,
    .container-middle {
        position: relative;
    }


    .container-left img {
        height: 400px;
    }

    .container-right {
        display: none;
    }

    .container-middle {
        text-align: center;
        max-width: 332px;
    }

    #prevBtn,
    #nextBtn {
        display: block;
        position: absolute;
        width: 30px;
        height: 30px;
        background: transparent;
        border: none;
        cursor: pointer;
        z-index: 15;

    }

    #prevBtn {
        left: 10px;
        top: 70%;
        transform: translateY(-50%);

    }

    #nextBtn {
        right: 10px;
        top: 70%;
        transform: translateY(-50%);


    }

}